{% extends '../routes/private.html' %}
{% load static %}

{% block title %}Dashboard | {% endblock%}

{% block subcontent %}
<div class="container mt-5">
   <h1 class="fw-bold h2 mb-4">
      <span class="mx-auto">Dashboard</span>
   </h1>
   <div id="wallet" class="container mt-3">
      <div class="row text-center justified-content-center">
         <svg class="col-lg-6 mx-auto my-auto" viewBox="0 0 1476 851" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
            <image width="1480.2185" height="851.23047" preserveAspectRatio="none" x="-4" y="0" xlink:href="{% static 'image/card-bg.png' %}"/>
            <text text-anchor="end" x="1375" y="425" style="font-weight:700;fill:#ffffff;font-size:60px;line-height:1.25;font-family:Nunito,sans-serif;">
               {{ request.user.first_name }} {{ request.user.last_name }}
            </text>
            <text text-anchor="end" x="1375" y="550" style="font-size:85px;fill:#ffffff;font-weight:300;line-height:1.25;font-family:Nunito,sans-serif;">
               Contribution: 0
            </text>
            <text xml:space="preserve" style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;white-space:pre;fill:#000000;fill-opacity:1;stroke:none" transform="matrix(1.4496535,0,0,1.4496535,44.74953,-959.80216)">
               <tspan x="70.89453" y="749.05469" style="font-weight:700;font-family:Nunito, sans-serif;fill:#ffffff">Cyclotion</tspan>
               <tspan x="70.89453" y="800.66406" style="font-weight:700;font-family:Nunito, sans-serif;fill:#ffffff">Certificate</tspan>
            </text>
         </svg>
      </div>
    </div>
</div>
{% endblock %}