{% extends '../base.html' %}
{% load static %}

{% block title %}Register | {% endblock %}

{% block content %}
<div class="container py-5 justify-content-center">
  <h1 class="display-6 text-center fw-bold pb-3">Register</h1>
	<form method="post" class="col-lg-4 mx-auto">
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}" role="alert">{{message}}</div>
    {% endfor %}
    {% if form.role.errors %}
      <div class="alert alert-danger" role="alert">
        {{form.role.errors.0}}
      </div>
    {% endif %}
    {% if form.password2.errors %}
      <div class="alert alert-danger" role="alert">
        {{form.password2.errors.0}}
      </div>
    {% endif %}
    {% csrf_token %}
    <div class="mb-3">
			<label for="input-name" class="form-label">Name</label>
			<input type="text" class="form-control" id="input-name" name="first_name" required value="{{form.first_name.value | default:''}}">
      {% if form.first_name.errors %}
      <div class="form-text" style="color: red;">{{form.first_name.errors.0}}</div>
      {% endif %}
		</div>
		<div class="mb-3">
			<label for="inputUsername" class="form-label">Username</label>
			<input type="text" class="form-control" id="inputUsername" name="username" required value="{{form.username.value | default:''}}">
      {% if form.username.errors %}
      <div class="form-text" style="color: red;">{{form.username.errors.0}}</div>
      {% endif %}
		</div>
    <div class="mb-3">
			<label for="inputEmail" class="form-label">Email</label>
			<input type="email" class="form-control" id="inputEmail" name="email" required value="{{form.email.value | default:''}}">
      {% if form.email.errors %}
      <div class="form-text" style="color: red;">{{form.email.errors.0}}</div>
      {% endif %}
		</div>
    <div class="mb-3">
			<label for="inputPassword" class="form-label">Password</label>
			<input type="password" class="form-control" id="inputPassword" name="password1" required>
		</div>
    <div class="mb-3">
			<label for="inputPassword2" class="form-label">Validate Password</label>
			<input type="password" class="form-control" id="inputPassword2" name="password2" required>
		</div>
    <div class="mb-3">
			<label for="inputPassword2" class="form-label">Who are you?</label>
      <input type="hidden" name="role" value="{{form.role.value | default:'cyclist'}}" required>
      <div class="d-flex">
        <button id="switch-cyclist" class="btn btn-primary btn-lg mx-2 role-switch" disabled data-status=1 data-value="cyclist">Cyclist</button>
        <button id="switch-bikeshop" class="btn btn-outline-primary btn-lg mx-2 role-switch" data-status=0 data-value="bikeshop">Bike Shop</button>
      </div>
		</div>
    <div id="additional-form" style="display: none;">
      <div class="mb-3">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" name="address">
      </div>
      <div class="mb-3">
        <label for="inputDescription" class="form-label">Description</label>
        <input type="text" class="form-control" id="inputDescription" name="description">
      </div>
      <div class="mb-3">
        <label for="inputId" class="form-label">ID Card</label>
        <input type="hidden" name="id_card" value="ada">
        <input type="file" class="form-control" id="inputId">
      </div>
    </div>
    <div class="text-center my-5">
      <button class="btn btn-lg btn-primary btn-block mx-auto" type="submit">Create Account</button>
    </div>
    <div>
      Already have an account?
      <a class="mylink" href="{% url 'main:login' %}">Login here</a>
    </div>
	</form>
</div>
{% endblock %}

{% block customjs %}
<script>
  function toggleSwitch(selector) {
    let elm = $(selector)
    let stt = elm.data('status')
    if (stt) {
      elm.removeClass('btn-primary')
      elm.addClass('btn-outline-primary')
      elm.attr('disabled', false)
    } else {
      elm.addClass('btn-primary')
      elm.removeClass('btn-outline-primary')
      elm.attr('disabled', true)
    }
    elm.data('status', stt ^ 1)
  }

  function changeType(e) {
    e.preventDefault()
  
    let roleVal = $(this).data('value')
    $('input[name="role"]').val(roleVal)
    for(let elm of $('.role-switch')) {
      toggleSwitch(elm)
    }
  
    if (roleVal == "bikeshop") {
      $("#additional-form").show()
    } else {
      $("#additional-form").hide()
    }
  }
  
  $(document).ready(() => {
    let roleVal = $('input[name="role"]').data('value')
    if (roleVal == "bikeshop") {
      $("#additional-form").show()
    } else {
      $("#additional-form").hide()
    }
  })

  $('.role-switch').click(changeType)
</script>
{% endblock %}