{% extends '../base.html' %}
{% load static %}
{% block title %}{{ title }} | {% endblock %}

{% block customcss %}
<style>
  .shop-board:hover {
    cursor: pointer;
  }

  .shop-board:hover .card-body {
    background-color: #7700ff !important;
    color: white !important;
  }

  .shop-board .card-body {
    height: 110px;
    overflow: hidden;
  }

  .shop-desc {
    height: 50px;
    overflow: clip;
  }
</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="fw-bold h2 mb-4">{{ title }}</h1>
  <div class="container mt-3">
    <div class="row">
      <form action="{% url 'product:shop-search' %}">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search shop..." aria-describedby="button-addon2" name="query">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      {% for bikeShop in bikeShops %}
      <div class="col-md-3"><div data-href="{% url 'product:product-public' shopid=bikeShop.id %}" class="card mb-4 shadow-sm shop-board">
        <img src="https://avatars.dicebear.com/api/identicon/shop-id1.svg" width="100%">
        <div class="card-body">
          <h4 class="card-text">{{ bikeShop.user.first_name }}</h4>
          <medium class="shop-desc">{{ bikeShop.description|truncatechars:24 }}</medium><br>
          <small>{{ bikeShop.address|truncatechars:25 }}</small>
        </div>
      </div></div>
      {% endfor %}
    </div>
  </div>
  {% include '../pagination.html' %}
</div>
{% endblock %}

{% block customjs %}
<script>
  $('.shop-board').click(function(){
    let url = $(this).data('href')
    location.href = url
  })
</script>
{% endblock %}