{% extends '../base.html' %}
{% load static %}
{% block title %}{{ shop.user.first_name }} | {% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="my-2 p-4 bg-body rounded shadow-sm d-flex justified-content-center">
        <img class="bd-placeholder-img flex-shrink-0 me-2 rounded my-auto" width="125" height="125" src="https://avatars.dicebear.com/api/identicon/idartikel2.svg"></img>
        <div class="mx-3 w-100">   
          <h6 class="pb-2 mb-0 h2 fw-bold">{{ shop.user.first_name }}</h6>
          <small>{{ shop.address }}</small>
          <p>{{ shop.description }}</p>
          <hr>
          <div class="d-flex my-2">
            <h6 class="my-auto me-2">Products: <a href="{% url 'product:product-public' shopid=shopid %}">{{ shopitem.count }} products</a></h6>
          </div>
          <div class="d-flex my-2">
            <h6 class="my-auto me-2">
              Reviews:
              <a href="{% url 'write_bike_shop_review:read_review' shopid=shopid %}">{{ reviewcount }} reviews</a>
            </h6>
            <a class="btn btn-sm btn-warning" href="{% url 'write_bike_shop_review:create_review' shopid=shopid %}"><strong>add review</strong></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% block subcontent %}{% endblock %}
{% endblock %}