{% extends '../base.html' %}
{% load static %}
{% block title %}Add Article | {% endblock %}

{% block customcss %}
<style>
  .ck-editor__editable_inline {
    min-height: 400px;
  }
</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="fw-bold h2 mb-3">Add Article</h1>
  <div class="container">
    <div class="row justified-content-center">
      <div class="col mx-auto my-3 p-3 bg-body rounded shadow-sm">
        <form class="mt-3" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="id_title" class="form-label">Title</label>
            <textarea style="resize: none" class="form-control" id="id_title" name="title" placeholder="Enter your article title" rows="2" maxlength="200" required></textarea>
          </div>
          <div class="mb-3">
            <label for="id_content" class="form-label">Content</label>
            <textarea class="form-control" id="id_content" name="content" rows="10" required></textarea>
          </div>
          <div class="float-end">
            <a href="{% url 'article:article-private' %}" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Publish</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block customjs %}
{% endblock %}