<div id="delete-article-modal" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Do you want to delete it?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Once you delete the article, all the comments and rating will be delete automatically too.</p>
        <p>The article you want to delete is <code id="delete-article-label"></code></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        <a type="button" class="btn btn-secondary" id="delete-article-btn" href="">Yes, delete now</a>
      </div>
    </div>
  </div>
</div>