{% extends '../base.html' %}
{% load static %}
{% block title %}My Article | {% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="fw-bold h2 mb-4">
    <span class="mx-auto">My Article</span>
    <a href="{% url 'article:article-add' %}" class="btn btn-primary">Add</a>
  </h1>
  <div class="container mt-3">
    {% for obj in objects %}
    <div class="row">
      <div class="col">
        <div class="p-4 bg-body rounded shadow-sm d-flex justified-content-center">
          <img class="bd-placeholder-img flex-shrink-0 me-2 rounded my-auto" width="125" height="125" src="https://avatars.dicebear.com/api/identicon/idartikel/{{ obj.id }}.svg"></img>
          <div class="mx-3">   
            <h6 class="my-2 pb-2 mb-0 h4 fw-bold article-title">{{ obj.title }}</h6>
            <p>{{ obj.content }}</p>
            <button data-href="{% url 'article:article-delete' articleid=obj.id %}" class="btn btn-danger btn-delete-article" data-bs-toggle="modal" data-bs-target="#delete-article-modal">Delete</button>
            <a class="btn btn-warning" href="{% url 'article:article-edit' articleid=obj.id %}">Edit</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% include '../pagination.html' %}
</div>
{% include './delete.html' %}
{% endblock %}

{% block customjs %}
<script>
  $('.btn-delete-article').click(function(){
    let url = $(this).attr("data-href")
    let title = $(this).siblings('.article-title').html()
    $('#delete-article-label').html(title)
    $('#delete-article-btn').attr("href", url)
  })
</script>
<script>
  $(document).ready(() => {
    {% for msg in messages %}
    if("{{ msg.tags }}" == "success"){
      swal({
        title: "{{ msg }}",
        icon: "success",
      });
    } else {
      swal({
        title: "{{ msg }}",
        icon: "error",
      });
    }
    {% endfor %}
  })
</script>
{% endblock %}