{% extends '../base.html' %}
{% load static %}
{% block title %}Article | {% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="fw-bold h2 mb-4">Article</h1>
  <div class="container mt-3">
    {% for obj in objects %}
    <div class="row">
      <div class="col">
        <div class="p-4 bg-body rounded shadow-sm d-flex justified-content-center">
          <img class="bd-placeholder-img flex-shrink-0 me-2 rounded my-auto" width="125" height="125" src="https://avatars.dicebear.com/api/identicon/idartikel/{{ obj.id }}.svg"></img>
          <div class="mx-3">   
            <h6 class="my-2 pb-2 mb-0 h4 fw-bold">{{ obj.title }}</h6>
            <p>{{ obj.content }}</p>
            <a class="btn btn-primary" href="{% url 'article:article-view' articleid=obj.id %}">Read more</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% include '../pagination.html' %}
</div>
{% endblock %}