{% extends '../base.html' %}
{% load static %}
{% block title %}{{article.title}} | {% endblock %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/rating-star.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="fw-bold h2 mb-4">{{article.title}}</h1>
  <div class="container mt-3">
    <div class="p-4 bg-body rounded shadow-sm">
      <p style="white-space: pre-wrap;">{{article.content}}</p>
      <hr>
      <div class="d-flex">
        <span class="d-flex mb-2">
          <h6 class="my-auto me-2">Your rating:</h6>
          <div class="article-rating me-2"></div>
          <h6 id="user-rating" class="my-auto ms-3 mx-2">{{ rating.user|default:'-' }}/10</h6>
        </span>
        {% if rating.user %}
        <a class="btn btn-sm btn-danger mb-2" href="{% url 'article:vote-handler' articleid=article.id %}"><strong>delete</strong></a>
        {% endif %}
      </div>
      <div class="d-flex my-2">
        <h6 class="my-auto me-2">Ratings: <strong>{{ rating.all|default:0 }}</strong>/10</h6>
      </div>
      <div class="d-flex my-2">
        <h6 class="my-auto me-2">Comments: {{ commentsCount }}</h6>
        <button class="btn btn-sm btn-warning" id="btn-add-comment"><strong>add</strong></button>
      </div>
    </div>
  </div>
</div>
{% include './comments/list.html' %}
{% include './comments/add.html' %}
{% include './comments/success.html' %}
{% include './comments/fail.html' %}
{% endblock %}

{% block customjs %}
<script src="{% static 'js/rating-star.min.js' %}"></script>
<script>
  let addCommentModal = new bootstrap.Modal($('#add-comment-modal'))

  let newComment = $('#new-comment')
  let deleteBtn = $('#delete-btn')

  $(document).ready(function() {
    newComment.hide()
  })

  // https://nashio.github.io/star-rating-svg/demo/
  let lastUserRating = {{ rating.user|default:0 }}
  $(".article-rating").starRating({
      starSize: 20,
      initialRating: {{ rating.user|default:0 }} / 2,
      callback: function(currentRating, $el){
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        $.post("{% url 'article:vote-handler' articleid=article.id %}", {
          rating: currentRating * 2,
          csrfmiddlewaretoken: csrftoken
        }, () => {
          location.reload()
        })
      },
      onHover: function(currentIndex, currentRating, $el){
			  $("#user-rating").html(currentIndex * 2 + "/10")
      },
      onLeave: function(currentIndex, currentRating, $el){
        if (lastUserRating == 0) {
          $("#user-rating").html("-/10")
        } else {
          $("#user-rating").html(lastUserRating + "/10")
        }
      }
  });
  $("#btn-add-comment").click(() => {
    addCommentModal.show()
  })
</script>
<script>
  $(document).ready(() => {
    {% for msg in messages %}
    if("{{ msg.tags }}" == "success"){
      swal({
        title: "{{ msg }}",
        icon: "success",
      });
    } else {
      swal({
        title: "{{ msg }}",
        icon: "error",
      });
    }
    {% endfor %}
  })
</script>
{% endblock %}