{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="p-3 mb-4 rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Mudahnya Bersepeda</h1>
      <p class="col-md-8 fs-4">Dapatkan banyak tips menarik bersepeda yang tidak Anda temukan di tempat lain. Lalu, rancang perjalanan sepeda Anda demi mendapatkan pengalaman lebih. Tak lupa, lengkapi kebutuhan sepeda Anda!</p>
      <a class="btn btn-primary btn-lg fw-bold" href="{% url 'main:register' %}">
        Join now!
      </a>
    </div>
  </div>
</div>
{% endblock %}