{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fw-bold" style="background: transparent;">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img height="30px" src="{% static 'image/cyclotion-logo.png' %}">
      Cyclotion
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:dashboard' %}">Dashboard</a>
        </li>
        {% if request.session.bikeshop %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'product:product-private' %}">My Shop</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'product:shop-list' %}">Browse Shop</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Article
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'article:article-public' %}">All</a></li>
            <li><a class="dropdown-item" href="{% url 'article:article-private' %}">My Article</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Route
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'route:route-public' %}">All</a></li>
            <li><a class="dropdown-item" href="{% url 'route:route-private' %}">My Route</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        {% if user.is_authenticated %}
          <li class="nav-item me-1 mb-1">
            <a class="btn btn-outline-primary" href="{% url 'main:logout' %}">Logout</a>
          </li>
        {% else %}
        <li class="nav-item me-1">
          <a class="btn btn-primary" href="{% url 'main:login' %}">Login</a>
        </li>
          <li class="nav-item me-1 mb-1">
            <a class="btn btn-outline-primary" href="{% url 'main:register' %}">Register</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
