{% block id %}{% endblock %}
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% block notifications %}{% endblock %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="h1 text-center mt-2 mb-2" style="font-size: 100px !important;">
            {% block symbol %}{% endblock %}
            <!-- {% if notificationIsSuccessful %}
                <span style="color: green;">✔</span>
            {% elif not notificationIsSuccesful %}
                <span style="color: red;">✘</span>
            {% endif %} -->
        </div>
      </div>
    </div>
  </div>
</div>