<div class="d-flex justify-content-center align-items-center mt-3">
  <nav>
    <ul class="pagination">
      {% if page.0 > 0 %}
      <li class="page-item"><a class="page-link" href="?page={{ page.0 }}">&lt;</a></li>
      {% endif %}
      <li class="page-item active"><a class="page-link">{{ page.1|default:'1' }}</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page.2 }}">&gt;</a></li>
    </ul>
  </nav>
</div>