{% extends '../../base.html' %}
{% load static %}
{% block title %}Add Product | {% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="fw-bold h2 mb-3">Add Product</h1>
  <div class="container">
    <div class="row justified-content-center">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
          {{message}}
        </div>
      {% endfor %}
  
      <div class="col mx-auto my-3 p-3 bg-body rounded shadow-sm">
        <form class="mt-3" method="post" name="form" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="inpProductType" class="form-label">Type</label>
            <select class="form-select mb-3" id="inpProductType" name="productType" required>
              <option value="">None</option>
              <option value="Product">Product</option>
              <option value="Service">Service</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inpProductName" class="form-label">Name</label>
            <input type="text" class="form-control" id="inpProductName" name="productName" placeholder="Enter your product name" required>
          </div>
          <div class="mb-3">
            <label for="inpProductDesc" class="form-label">Description</label>
            <textarea class="form-control" id="inpProductDesc" name="productDesc" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <label for="inpPic" class="form-label">Picture</label>
            <input type="file" class="form-control" id="inpPics" name="productPics">
          </div>
          <label for="inpPrice" class="form-label">Price</label>
          <div class="input-group mb-3" id="inpPrice">
            <span class="input-group-text">Rp</span>
            <input type="number" class="form-control" name="productPrice" required>
            <span class="input-group-text">,00</span>
          </div>
          <label for="inpAvailability" class="form-label">Availabity</label>
          <div class="form-check form-switch float-end" id="inpAvailability">
            <input class="form-check-input" name="productAvailability" type="checkbox" checked>
          </div>
          <br>
          <div class="float-end">
            <a href="{% url 'product:product-private' %}" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}