<div id="delete-product-modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Do you want to delete this product?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
            <a type="button" class="btn btn-secondary" id="delete-product-btn" href="">Confirm</a>
        </div>
      </div>
    </div>
</div>