{% extends '../../base.html' %}
{% load static %}
{% block title %}Edit Product | {% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="fw-bold h2 mb-3">Edit Product</h1>
  <div class="container">
    <div class="row justified-content-center">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
          {{message}}
        </div>
      {% endfor %}
  
      <div class="col mx-auto my-3 p-3 bg-body rounded shadow-sm">
        <form class="mt-3" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="inpProductType" class="form-label">Type</label>
            <select class="form-select mb-3" id="inpProductType" name="productType" required>
              <option value="">None</option>
              <option value="Product" {% if product.productType == "Product" %} selected = "selected" {% endif %}>Product</option>
              <option value="Service" {% if product.productType == "Service" %} selected = "selected" {% endif %}>Service</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inpID" class="form-label">ID</label>
            <input type="text" class="form-control" id="inpIDnum" name="productId" placeholder="Enter your ID number" value={{product.productId}} disabled>
          </div>
          <div class="mb-3">
            <label for="inpProductName" class="form-label">Name</label>
            <input type="text" class="form-control" id="inpProductName" name="productName" placeholder="Enter your product name" value="{{product.productName}}" required></input>
          </div>
          <div class="mb-3">
            <label for="inpProductDesc" class="form-label">Description</label>
            <textarea class="form-control" id="inpProductDesc" name="productDesc" rows="3">{{product.productDesc}}</textarea>
          </div>
          <div class="mb-3">
            <label for="inpPic" class="form-label">Picture:
              {% if product.productPics %}
              currently: <a href="{{product.productPics.url}}">{{product.productPics.url}}</a>
              {% endif %} 
            </label>
            <input type="file" class="form-control" id="inpPics" name="productPics" value=>
          </div>
          <label for="inpPrice" class="form-label">Price</label>
          <div class="input-group mb-3" id="inpPrice">
            <span class="input-group-text">Rp</span>
            <input type="number" class="form-control" name="productPrice" value={{product.productPrice}} required>
          </div>
          <label for="inpAvailability" class="form-label">Availability</label>
          <div class="form-check form-switch float-end" id="inpAvailability">
            {% if product.productAvailability %}
              <input class="form-check-input" type="checkbox" name="productAvailability" checked>
            {% else %}
              <input class="form-check-input" type="checkbox" name="productAvailability"  unchecked>
            {% endif %}
          </div>
          <br>
          <div class="float-end">
            <a href="{% url 'product:product-private' %}" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}