{% extends '../../base.html' %}
{% load static %}
{% block title %}My Shop | {% endblock %}

{% block customcss %}
<style>
  .shop-board .card-body {
    height: 110px;
    overflow: hidden;
  }

  .shop-desc {
    height: 50px;
    overflow: clip;
  }
</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="fw-bold h2 mb-4">
    <span class="mx-auto">My Shop</span>
    <a href="{% url 'product:product-add' %}" class="btn btn-primary">Add Product</a>
  </h1>
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
      {{message}}
    </div>
  {% endfor %}
  <div class="container mt-3">
    <div class="row">
      {% for obj in objects %}
      <div class="col-md-3">
        <div class="card mb-4 shadow-sm shop-board">
          {% if obj.productPics %}
            <img src="{{obj.productPics.url}}" width="100%">
          {% else %}
            <img src="https://avatars.dicebear.com/api/identicon/shop-id1.svg" width="100%">
          {% endif %}
        <div class="card-body h-auto">
          <div class="row">
            <div class="col-md-8">
              <h4 class="card-text">
                <span>{{obj.productName}}</span>
              </h4>
              <p class="text-secondary">{{obj.productType}}</p>
              <p class="product-price">Rp{{obj.productPrice}}</p>
              <p class="product-availability">{% if obj.productAvailability %}
                                                  Available
                                              {% else %}
                                                  Not available
                                              {% endif %}</p>
              <p class="shop-desc">{{obj.productDesc}}</p>
            </div>
            <div class="col-md-4">
              <a href="{% url 'product:product-edit' productid=obj.productId %}" class="btn btn-warning btn-sm m-1" style="width: 100%;">Edit</a>
              <button data-href="{% url 'product:product-delete' productid=obj.productId %}" class="btn btn-danger btn-sm m-1 btn-delete-product" style="width: 100%;" data-bs-toggle="modal" data-bs-target="#delete-product-modal">Delete</a>
            </div>
          </div>
        </div>
      </div>
     </div>
     {% endfor %}
    </div>
  </div>
  {% include '../../pagination.html' %}
</div>
{% include './delete.html' %}
{% endblock %}

{% block customjs %}
<script>
  $('.btn-delete-product').click(function(){
    let url = $(this).attr("data-href")
    $('#delete-product-btn').attr("href", url)
  })
</script>
{% endblock %}