{% extends '../view.html' %}
{% load static %}
{% block title %}Nama Shop | {% endblock %}

{% block subcontent %}
<div class="container my-5">
  <h1 class="fw-bold h2 mb-4">Products</h1>
  <div class="container mt-3">
    <div class="row">
      {% for obj in shopitem %}
      <div class="col-md-3">
        <div class="card mb-4 shadow-sm shop-board">
          {% if obj.productPics %}
            <img src="{{obj.productPics.url}}" width="100%">
          {% else %}
            <img src="https://avatars.dicebear.com/api/identicon/shop-id1.svg" width="100%">
          {% endif %}
        <div class="card-body h-auto">
          <div class="row">
            <div class="col-md-8">
              <h4 class="card-text">
                <span>{{obj.productName}}</span>
              </h4>
              <p class="text-secondary">{{obj.productType}}</p>
              <p class="product-price">Rp{{obj.productPrice}}</p>
              <p class="product-availability">{% if obj.productAvailability %}
                                                  Available
                                              {% else %}
                                                  Not available
                                              {% endif %}</p>
              <p class="shop-desc">{{obj.productDesc}}</p>
            </div>
          </div>
        </div>
      </div>
     </div>
     {% endfor %}
  </div>
</div>
{% endblock %}
