{% extends '../base.html' %}
{% load static %}
{% block title %}Add Route | {% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="fw-bold h2 mb-3">Add Route</h1>
  <div class="container">
    <div class="row justified-content-center">
      {% for err in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {{ err }}
        </div>
      {% endfor %}
  
      <div class="col mx-auto my-3 p-3 bg-body rounded shadow-sm">
        <form class="mt-3" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="inpRouteName" class="form-label">Name</label>
            <input type="text" class="form-control" id="inpRouteName" name="name" placeholder="Enter your route name" required>
            {% if form.name.errors %}
            <div class="form-text" style="color: red;">{{form.name.errors.0}}</div>
            {% endif %}
          </div>
          <div class="mb-3">
            <label for="inpRouteDesc" class="form-label">Description</label>
            <textarea class="form-control" id="inpRouteDesc" name="description" rows="3" required></textarea>
            {% if form.description.errors %}
            <div class="form-text" style="color: red;">{{form.description.errors.0}}</div>
            {% endif %}
          </div>
          <div class="mb-3">
            <label for="inpMaps" class="form-label">Mark your route</label>
            {% if form.coordinate_data.errors %}
            <div class="form-text" style="color: red;">{{form.coordinate_data.errors.0}}</div>
            {% endif %}
            <input type="hidden" class="form-control" id="inpRouteName" name="coordinate_data" required>
            <div id="inpMaps" style="height: 500px">You have to enabled javascript</div>
          </div>
          <div class="float-end">
            <a href="{% url 'main:dashboard' %}" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block customjs %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHKqWTu_vaUrBj6ozyiuw8wocQF26mCeM&callback=initMap&libraries=drawing&v=weekly&channel=2" async></script>
<script>
  let map;
  let accumPath = [];
  function initMap(position) {
    let lat = -2.325613, lng = 118.005351;
    let zoom = 5
    if (position != undefined) {
      lat = position.coords.latitude
      lng = position.coords.longitude
      zoom = 15
    }
    map = new google.maps.Map(document.getElementById("inpMaps"), {
      center: { lat: lat, lng: lng },
      zoom: zoom,
    });
    const drawingManager = new google.maps.drawing.DrawingManager({
      drawingMode: google.maps.drawing.OverlayType.MARKER,
      drawingControl: true,
      drawingControlOptions: {
        position: google.maps.ControlPosition.TOP_CENTER,
        drawingModes: [
          google.maps.drawing.OverlayType.POLYLINE
        ],
      },
    });

    drawingManager.setMap(map);

    google.maps.event.addListener(drawingManager, 'overlaycomplete', function(polygon) {
      let coorArr = polygon.overlay.getPath().getArray();
      let path = coorArr.map(e => [e.lat(), e.lng()])
      accumPath = accumPath.concat(path)
      $("input[name='coordinate_data']").val(JSON.stringify(accumPath))
    });
  }
  $(document).ready(() => {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(initMap);
    } else {
      initMap();
    }
  })
</script>
{% endblock %}