{% extends '../base.html' %}
{% load static %}
{% block title %}My Route | {% endblock %}

{% block content %}
{% block subcontent %}{% endblock %}
<div class="container mt-5">
  <h1 class="fw-bold h2 mb-4">
    <span class="mx-auto">My Route</span>
    <a href="{% url 'route:route-add' %}" class="btn btn-primary">Add</a>
  </h1>
  <div class="container mt-3">
    {% for obj in objects %}
    <div class="row">
      <div class="col">
        <div class="my-2 p-4 bg-body rounded shadow-sm d-flex justified-content-center">
          <img class="bd-placeholder-img flex-shrink-0 me-2 rounded my-auto" width="125" height="125" src="https://avatars.dicebear.com/api/identicon/{{ obj.name }}.svg"></img>
          <div class="mx-3">   
            <h6 class="my-2 pb-2 mb-0 h4 fw-bold">{{ obj.name }}</h6>
            <p>{{ obj.description }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% include '../pagination.html' %}
</div>
{% endblock %}

{% block customjs %}
<script>
  $(document).ready(() => {
    {% for msg in messages %}
      swal({
        title: "{{ msg }}",
        icon: "success",
      });
    {% endfor %}
  })
</script>
{% endblock %}