{% extends '../base.html' %}
{% load static %}
{% block title %}Route | {% endblock %}

{% block content %}
<div class="container mt-5 d-flex">
    <span class="mx-auto">
        Not implemented
    </span>
</div>
{% endblock %}