<div id="delete-review-modal" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure want to delete your review?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        <a type="button" class="btn btn-secondary" id="delete-review-btn" href="">Yes, delete now</a>
      </div>
    </div>
  </div>
</div>