{% extends '../../base.html' %}
{% load static %}
{% block title %}Edit Review | {% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="fw-bold h2 mb-3">Edit Review - Nama Shop</h1>
  <div class="container">
    <div class="row justified-content-center">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
          {{message}}
        </div>
      {% endfor %}
  
      <div class="col mx-auto my-3 p-3 bg-body rounded shadow-sm">
        <form action="{% url 'write_bike_shop_review:update_review' shopid=shopid reviewid=review.id %}" class="mt-3" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="inpReview" class="form-label">Your review</label>
            <textarea class="form-control" id="inpReview" name="content" rows="3" required">{{ review.content }}</textarea>
          </div>
          <div class="float-end">
            <a href="{% url 'write_bike_shop_review:read_review' shopid=shopid %}" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block customjs %}
{% endblock %}