{% extends '../view.html' %}
{% load static %}
{% block title %}Nama Shop | {% endblock %}

{% block subcontent %}
<div class="container my-5">
  <h1 class="fw-bold h2 mb-4">Reviews</h1>
  <div class="container mt-3">
    {% for review in reviews %}
      <div class="row">
        <div class="col">
          <div class="p-4 bg-body rounded shadow-sm d-flex justified-content-center">
            <img class="bd-placeholder-img flex-shrink-0 me-2 rounded my-auto" width="50" height="50" src="https://avatars.dicebear.com/api/identicon/{{ review.user }}.svg"></img>
            <div class="mx-3">
              {% if review.user == user %}
                <div class="float-end">
                  <a class="btn btn-sm btn-warning" href="{% url 'write_bike_shop_review:update_review' shopid=shopid reviewid=review.id %}">Edit</a>
                  <a data-href="{% url 'write_bike_shop_review:delete_review' shopid=shopid reviewid=review.id %}" class="btn btn-sm btn-danger btn-delete-review" data-bs-toggle="modal" data-bs-target="#delete-review-modal">
                    Delete
                  </a>
                </div>
              {% endif %}
              <h6 class="my-2 pb-2 mb-0 h5 fw-bold">
                <span>{{ review.user.first_name }}</span>
              </h6>
              <p>{{ review.content }}</p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% include './delete.html' %}
{% endblock %}

{% block customjs %}
<script>
  $('.btn-delete-review').click(function(){
    let url = $(this).attr("data-href")
    $('#delete-review-btn').attr("href", url)
  })
</script>
<script>
  $(document).ready(() => {
    {% for msg in messages %}
    if("{{ msg.tags }}" == "success"){
      swal({
        title: "{{ msg }}",
        icon: "success",
      });
    } else {
      swal({
        title: "{{ msg }}",
        icon: "error",
      });
    }
    {% endfor %}
  })
</script>
{% endblock %}