<div id="add-comment-modal" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add your comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="add-comment-form" method="post" action="{% url 'article:article-commentadd' articleid=article.id %}">
        <div class="modal-body">       
          {% csrf_token %}
          <input type="text" class="form-control" id="articleid" name="article-id" hidden>
          <div class="mb-3">
            <textarea class="form-control" id="inpMessage" name="comment" rows="3" maxlength="250" placeholder="Enter your comment here" required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" id="submit-btn" data-href="{% url 'article:article-commentadd' articleid=article.id %}">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>