<div class="container my-5">
  <h1 class="fw-bold h2 mb-4">Comments</h1>
  {% for comment in comments %}
  <div class="container mt-3">
    <div class="row">
      <div class="col">
        <div class="p-4 bg-body rounded shadow-sm d-flex justified-content-center">
          <img class="bd-placeholder-img flex-shrink-0 me-2 rounded my-auto" width="50" height="50" src="https://avatars.dicebear.com/api/identicon/{{ comment.user }}.svg"></img>
          <div class="mx-3 w-100">
            {% if comment.user == user %}
            <a class="btn btn-sm btn-danger float-end" href="{% url 'article:article-commentdelete' articleid=article.id commentid=comment.id%}">Delete</a>
            {% endif %}
            <h6 class="my-2 pb-2 mb-0 h5 fw-bold">
              <span>{{ comment.user }}</span>
            </h6>
            <p style="white-space: pre-wrap;">{{ comment.comment }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>